{# organizer/templates/organizer/tag_list.html #}
{% extends "base.html" %}

{% block title %}
	 Tag list
{% endblock title %}

{% block content %}
	
	<h2>Tag List</h2>
	<ul>
		{% for tag in tag_list %}
		<li>
			{# http://127.0.0.1:8000/tag/django/ #}
			<a href="{% url 'organizer_tag_detail' tag.slug %}">
				{{ tag.name|title }}</a>
			{# Above code is similar to this: 
				<a href="/tag/{{ tag.slug }}/">{{ tag.name|title }}</a> #}
		</li>
		{% empty %}
			<li><em>There are currently no Tags available.</em></li>
		{% endfor %}
	</ul>

{% endblock content %}
