<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Startup Organizer - Tag List</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if IE]><script
	src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
	</script><![endif]-->
</head>
<body>
	<div class="container">
		<header>
			<h1>Startup Organizer</h1>
		</header>
		<main>
			<h2>Tag List</h2>
			<ul>
				{% for tag in tag_list %}
				<li>
				<a href="">
				{{ tag.name|title }}</a>
				</li>
				{% empty %}
					<li><em>There are currently no Tags available.</em></li>
				{% endfor %}
			</ul>
		</main>
	</div>
	<footer class="footer">
		<p>&copy; 2015
			<a href="https://AndrewsForge.com/">Andrew Pinkham</a>
		</p>
		<p>Created for 
			<a href="https://Django-Unleashed.com/">Django Unleashed</a>
		</p>
	</footer>
</body>
</html>